*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ENCABEZADO */
.first-block{
  padding: 16px 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: #000;
  width: 100%;
}

.first-block span{
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 10px 0 9px;
}

.first-block span.titulo {
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
}

.first-block span.subtitulo {
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
}

#outside {
  z-index: 1;
  position: absolute;
  background-color: #ffffff;
  background-image: url("fondocine.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  transition: 1s;
  transform-origin: 0;
}

.open-card {
  transform: rotateY(90deg);
}

#outside-title {
  color: black;
  padding-top: 45px;
  font-family: 'Oswald',sans-serif;
  font-size: 50pt;
  text-align: center;
}

#fotos{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

}

#outside-pic{
  width: 400px;
  height: 400px;
  filter: brightness(1.35);
  mix-blend-mode: multiply;
  margin-bottom: 20px;
}

#outside-help {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
  padding: 20px;
}

#inside {
  z-index: 0;
  position: absolute;
  background-color: #ffffff;
  background-image: url("FONDO1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-align: center;
}

#inside-title {
  color: black;
  font-family: 'Oswald',sans-serif;
  font-size: 50pt;
  text-align: center;
}

#inside-pic {
  display: flex;
  margin-left: 35px;
  width: 200px;
  height: 150px;
}

.vale{ 
  background-image: url("cinerama.jpg");
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#message {
  color: red;
  font-weight: bold;
  font-family: Courier;
  font-size: 20pt;
  text-align: center;
  margin-bottom: 380px;
}

button {
  font-size: xx-large;
  color: white;
  background: red;
  border-radius: 6px;
  border: 5px solid black;
}
button:hover {
  background-color:black;
  color: red;
}


@media screen and (max-width:600px){  
  #outside-title {
    font-size: 30pt;
  }
  #outside-pic{
    width: 350px;
    height: 350px;
  }

  #inside {
    background-color: #ffffff;
    background-image: url("FONDO4.jpg");
  }

  #inside-title {
    font-size: 25pt;
    text-align: center;
    font-weight: bold;
  }
  #inside-pic {
    display: flex;
    margin-bottom: 100px;
    filter: brightness(1.35);
    mix-blend-mode: multiply;
    width: 150px;
    height: 150px;
  }
  .vale{ 
    background-image: url("cinerama.jpg");
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #message {
    margin-bottom: 200px;
    font-size: 15pt;
  }
}